// Colors
$black: #000000;
$white: #ffffff;
$gray: #f4f4f4;
$beige: #f5f0e6;
$dark-beige: #c49a6c;

// Fonts
$font-heading: "Cairo", sans-serif;
$font-body: "Cairo", sans-serif;
$font-menu: "Changa", sans-serif;
$font-slogans: "Amiri", serif;

// Font Weights
$bold: 700;
$regular: 400;
$medium: 500;
